.form(role="form")
	.form-group
		label Краткий адрес (URL)
		input.name-input.form-control(type="text" value=station.name)
	
	.form-group
		label Название
		input.title-input.form-control(type="text" value=station.title)

	.form-group
		label Подзаголовок
		input.subtitle-input.form-control(type="text" value=station.subtitle)

	.form-group
		label 
			|Описание 
			small (Поддерживает Markdown)
		textarea.desc-input.form-control(rows="10" text=station.description)
			=station.description

	.row
		.col-md-4.col-md-offset-4
			.login-button.btn.btn-primary.btn-lg.btn-block.save-button Сохранить

