.polaroid
  a(href=jade.url('shots#show', {id : shot._id}))
    img.polaroid-photo.img-responsive(src="#{shot.thumbnail}")

  .photo-user
    b
      a(href="http://instagram.com/"+shot.instagram.user.username target="_blank")
        |@
        = shot.instagram.user.username
        | 
        br
        small
          | (
          = shot.instagram.user.full_name
          | )
  .photo-status      
    case shot.status
      when "failed"
        span.label.label-danger Не напечатана
      when "printed"
        span.label.label-success Напечатана
      when "queued"
        span.label.label-info В очереди
      default 
        span.label.label-default Необработана
  .photo-control
    if jade.auth()
      .btn-group.btn-group-sm
        if shot.status != "printed"
          a.print-button.btn.btn-default: i.fa.fa-print
        a.delete-confirm.btn.btn-default: i.fa.fa-trash-o
          
