.polaroid
	.polaroid-photo(style="background-image:url(#{shot.thumbnail})")

	if jade.auth()
		.btn-group
			if shot.status != "printed"
				a.print-button.btn.btn-default.btn-sm: span.glyphicon.glyphicon-print
			a.delete-confirm.btn.btn-default.btn-sm: span.glyphicon.glyphicon-remove