.shot-grid-item {
  padding: 5px;
}

.polaroid {
  margin: 0;
  margin-bottom: 5px;
  
  padding: 5%;
  border-radius: 3px;
  border: 1px solid #BDC2CC;
}

.photo-user {
  font-size: 0.85em;
}

.photo-user a {
  color : #555555;
}
.photo-user small {
  color : #888888;
}

.photo-status {

  margin: 0.3em 0;
}

.polaroid-photo {
  width: 100%;
  margin-bottom: 5px;
}
