@import 'nib'


.shot-grid-item
  opacity 0
  transition opacity 0.3s ease

  &.shown
    opacity 1

  @media (max-width: 640px)
    width 100%
  @media (max-width: 960px) and (min-width: 640px)
    width 50%
  @media (max-width: 1200px) and (min-width: 960px)
    width 33%
  @media (min-width: 1200px)
    width : 25%

  padding: 0px 4px 0px 4px
  margin-bottom 8px

  .polaroid
    position relative
    overflow hidden
    background-color #fff
    margin 0
    padding 0
    border-radius 3px
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)

  .polaroid-photo
    width 100%

  .photo-user
    .media
      margin-top 1px
    padding 10px 10px
    a
      color  #555555
    small
      color  #888888

  .photo-info
    span.label
      font-size 13px
    padding-left: 5px
    .action-button
      display:inline-block
      width: 26px
      height: 26px
      font-size: 24px
      line-height: 26px
      text-align: center
      color: white
      vertical-align: middle
      cursor: pointer

    opacity 1.0
    position absolute
    height 40px
    line-height 40px
    vertical-align middle
    background-color rgba(0,0,0,0.6)
    top 0
    opacity 0
    transition opacity 0.4s ease
    width 100%

  .photo-status
    margin 0.4em 0

  .polaroid:hover
    .photo-info
      opacity 1.0

