@import 'nib'


.shot-grid-item
  opacity 0
  transition opacity 0.2s ease, transform 0.2s ease

  transform scale(0.0)
  &.shown
    opacity 1
    transform scale(1.0)

  @media (max-width: 640px)
    width 100%
  @media (max-width: 960px) and (min-width: 640px)
    width 50%
  @media (max-width: 1200px) and (min-width: 960px)
    width 33%
  @media (min-width: 1200px)
    width 25%

  padding: 0px 4px 0px 4px
  margin-bottom 8px

  .polaroid
    position relative
    overflow hidden
    background-color #fff
    margin 0
    padding 0
    border-radius 3px
    box-shadow 0px 1px 2px 0px rgba(0,0,0,0.1)

  .polaroid-photo
    width 100%

  .photo-user
    .media
      margin-top 1px
    padding 10px 10px
    a
      color  #555555
    small
      color  #888888

  .photo-area
    position relative

    &:hover
      .photo-info
        opacity 1.0

    .photo-info
      display:none
      padding: 10px
      .action-button
        display:inline-block
        width: 28px
        height: 28px
        font-size: 26px
        line-height: 28px
        text-align: center
        color: white
        vertical-align: middle
        cursor: pointer

      position absolute
      left: 0
      top : 0
      right: 0
      bottom : 0

      background-color rgba(0,0,0,0.7)
      opacity 0
      transition opacity 0.3s ease
      width 100%

    .photo-status
      margin 0.4em 0



