@import 'nib'

.shot-grid-item
  padding 5px
  overflow hidden

  .polaroid
    margin 0
    margin-bottom 5px
    padding 5%
    border-radius 3px
    border 1px solid #BDC2CC

  .polaroid-photo
    width 100%
    margin-bottom 5px

  .photo-user
    font-size 0.85em
    white-space nowrap

    a
      color  #555555
    small
      color  #888888
  
  .photo-status
    margin 0.4em 0

