# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

pids
logs
results

npm-debug.log
node_modules

### Bower ###
bower_components

### Application ###
server/config.json