@import 'nib'

.login-form
  max-width 350px
  padding 15px
  margin 0 auto

  .logo-container
    padding 1em


  .form-control
    text-align center
    position relative
    font-size 1.2em
    font-weight 200
    height auto
    padding 10px

  input[type="text"]
    margin-bottom -1px
    border-bottom-left-radius 0
    border-bottom-right-radius 0

  input[type="password"] 
    margin-bottom 10px
    border-top-left-radius 0
    border-top-right-radius 0
    border-top-width 1px

  input[type="password"]:not(:focus)
    border-top-color rgba(0,0,0,0)
