
.row
	.col-md-4.col-md-offset-4
		form.login-form(role="form")
			h2 Авторизация
			.form-group.form-group-lg
				input.login-field.form-control(type="text" placeholder="Логин")
				input.password-field.form-control(type="password" placeholder="Пароль")

			.login-button.btn.btn-lg.btn-primary.btn-block Войти

