.container
	ul.nav.nav-pills
		li 
			a(href="#{jade.url('stations#index')}")
				| Печатные Станции
		li 
			a(href="#{jade.url('shots#index')}")
				| Фотографии
		li 
			a О Проекте

	div#main-container 