.station-item
	h3
		=station.get("title") 
		| 

		case station.get("online")
			when true 
				span.label.label-success Онлайн
			default
				span.label.label-warning Оффлайн


	p.lead= station.get("description")