.container.navbar-shift
  .row
    .col-md-12
      if jade.auth()
        a.btn.btn-success(href=jade.url("station_create") )
          i.fa.fa-plus
          |  Создать

      .loading-container
        h2 Загрузка

      .station-list

