.container
	h1 Печатные Станции
	.row
		.col-md-12
			if jade.auth()
				a.btn.btn-success(href=jade.url("station_create") ) Зарегистрировать

			.loading-container
				h2 Загрузка

			.station-list

