.shot-view.container: .row
  .col-xs-12.col-md-4
    .polaroid
      .photo-area
        a(href="#{ shot.link }")
          img.polaroid-photo.img-responsive(src="#{ shot.image_standard }")
      .photo-user
        .media
          a.pull-left(href="http://instagram.com/" + shot.user.name target="_blank")
            img.img-circle.media-object(src=shot.user.avatar width=48 height=48)

          .media-body
            a(href="http://instagram.com/" + shot.user.name target="_blank")
              h4.media-heading
                | @
                = shot.user.name
                small
                  |  (
                  = shot.user.fullname
                  | )
            = shot.caption

  .col-xs-12.col-md-8
    case shot.status
      when "printed"
        h3
          | Как забрать фотографию со станции &laquo;
          a(href=jade.url('stations#show', { name : shot.printedOn.name}))
            = shot.printedOn.title
          | &raquo;?
        .markdown
          != jade.markdown(shot.printedOn.instructions)
      default
        h3 Фотография еще не была напечатана
