@import 'nib'

.shot-grid-view
  padding-top 10px
  height 100%

  .loading-container
    margin-top 30px
    margin-bottom 50px
    .load-spinner
      .icon
        font-size 32px
        animation-duration 0.3s
