.station-item
	h3
		=station.title 
		| 
		case station.online
			when true 
				span.label.label-success Онлайн
			default
				span.label.label-warning Оффлайн

	.btn-group
		a.btn.btn-default(href=jade.url('stations#edit', {name : station.name}))
			span.glyphicon.glyphicon-pencil

		button.btn.btn-default
			span.glyphicon.glyphicon-remove

	p.lead= station.description