.station-item
	h1
		=station.title 
		| 
		case station.online
			when true 
				span.label.label-success Онлайн
			default
				span.label.label-warning Оффлайн
		
	h2 
		small= station.subtitle	
	.btn-group
		a.btn.btn-default(href=jade.url('station_edit', {name : station.name}))
			span.glyphicon.glyphicon-pencil
			|  Редактировать

		button.btn.btn-default
			span.glyphicon.glyphicon-remove
			|  Удалить
	p.lead!= jade.markdown(station.description)