@import 'nib'

 
.header-view-container
  &.static-page
    position absolute
    top 0
    left 0 
    right 0
    .site-navigation
      ul li a:not(:hover)
        color white !important
      ul li.selected a
        border-color white

  // Navigation bar
  .site-navigation
    * 
      background none !important
    border none
    padding 0
    margin 0

    ul li 
      a
        box-sizing: border-box
        transition color 0.3s ease
        border 2px solid rgba(0,0,0,0)
        padding 5px
        margin 10px
        font-family "PT Sans Narrow"
        font-weight 600
        font-size 22px

        &:not(:hover)
          color black !important

      &.selected a
        border-color black

