@import 'nib'

// Site-wide styling
body, input, textarea, button
  -webkit-font-smoothing antialiased

body
  font-family: 'PT Sans'
  font-weight: 200

h1, h2, h3, h4, h5, h6
  font-family "PT Sans"

