.container-fluid
	ul.nav.nav-pills
		li 
			a(href=jade.url("static#about"))
				span.glyphicon.glyphicon-home
				|  О Проекте
		li 
			a(href="#{jade.url('stations#index')}")
				span.glyphicon.glyphicon-print 
				|  Печатные Станции
		li 
			a(href="#{jade.url('shots#index')}")
				span.glyphicon.glyphicon-camera
				|  Фотографии

	div#main-container 