@import 'nib'

// .background-scroll
//   background-attachment fixed
//   animation-name WaveScroll
//   animation-duration 50s
//   animation-timing-function linear
//   animation-iteration-count infinite
//   animation-delay 0s
//   animation-direction alternate
//   animation-play-state running

// .floating
//   animation-name Floating
//   animation-duration 3s
//   animation-timing-function ease-in-out
//   animation-iteration-count infinite

// @keyframes Floating
//   0%
//     transform translate(0, 0px)
//   65%
//     transform translate(0, 15px)
//   100%
//     transform translate(0, -0px)

// @keyframes WaveScroll
//   0%
//     background-position 0%
//   100%
//     background-position 100%
