.row.landing.text-center
  .col-md-12
    p.stevie-header #steviewhale    
    img.stevie.img-responsive(src="/images/stevie-kid.svg")
    
    p.lead 
      | Меня зовут Стиви! Я большой фиолетовый кит.
      br
      | Я печатаю фотографии в Ростове-на-Дону с хештегом #steviewhale
.row.how-it-works.text-center
  .col-md-12
    .container
      h1.hipster-header Как это работает?
      .row
        .col-md-4
          i.super-icon.fa.fa-camera-retro
          h3 Публикуйте
          p.lead
            | Опубликуйте фотографию в Instagram
            | с хештегом #steviewhale
        .col-md-4
          i.super-icon.fa.fa-print
          h3 Печатайте
          p.lead
            | Фотография сразу же напечатается на одной
            | из печатных станций, которые предоставляются
            | добряками.
        .col-md-4
          i.super-icon.fa.fa-heart
          h3 Забирайте
          p.lead
            | Заберите фотографию с печатной станции. Не забудьте поблагодарить
            | владельца! Можно сказать "спасибо", спеть песенку, а можно просто душевно
            | обнять этого благородного человека!  