.landing {
	background-image : url("/images/wave.svg");
	background-color : #E0D6AD;
}


.how-it-works {
	background-color: #4BA58C;
	background-image : url("/images/pattern-2.png");
}

.landing .jumbotron {
	background: none;
}

.super-icon {
	color : #3E6372;
	font-size: 100px;
	width : 100px;
	height: 100px;
	margin-top: 15px;
	line-height: 100px;
}

.landing img {
	margin: 0 auto;
}