@import 'nib'

// Layers
.fullpage-layer
  position: fixed
  top 0
  left 0
  right 0
  bottom 0

  &.bottommost
    z-index -3
    background-color #000

  &.slide
    z-index -2
    background-color #000
    background-size   cover
    background-position center center
    opacity 0.0
    transition opacity 0.4s ease-out

    &.active
      opacity 1.0

  &.fade-overlay
    z-index: -1
    background url("/images/dotted-pattern.png"), rgba(0,0,0,0.3)

// Main area
.landing
  color white
  // background-color black

  .fake-offset
    // height 200px

  .centered-container
    height 100%
    margin 0
    position relative

    .centered
      width 100%
      overflow: hidden

      position absolute

      left 50%
      top  50%
      transform: translate(-50%, -50%)

  .big-header
    font-family "PT Sans Narrow"
    
    transition font-size 0.3s ease
    @media (max-width: 768px)
      font-size 44px
    font-size 64px
    font-weight bold

  .big-header-subtitle
    font-size 20px
    font-weight 100
    font-family 'PT Sans'
    margin-top 30px
    margin-bottom 30px

  .wow-button
    border 1px solid white
    color white
    letter-spacing 1px

    transition background-color 0.3s ease, color 0.3s ease

    &:hover
      background-color white
      color black

.how-it-works
  color white

  .lead
    font-size 1.2em
    font-weight 100

  h1.hipster-header
    font-weight bold

  .icon-content
    padding 1em

    .super-icon
      // border-radius 9999px
      // background-color red
      width  100px
      height 100px
      // padding 50px
      margin 0 auto






