.landing
  background-image  url("/images/wave.svg")
  background-color  #97C4D3
  padding 1.5em

  img
    margin 0 auto

  .big-stevie-container
    position relative

    .stevie 
      position absolute
      margin-left auto
      margin-right auto
      left 0
      right 0


.how-it-works 
  background-color #2c3e50
  color #DADADA

  .lead
    font-size 1.2em
    font-weight 100
    color  #eeeeee

  h1.hipster-header 
    color #F3F3F3
    font-family 'BebasNeueCyrillic'
  
  .icon-content 
    padding 1em

    .super-icon 
      width  100px
      height 100px
      margin 0 auto
      

.footer 
  background-color  #34495e
  color  #D1DAE4
  padding 1em
  font-size 0.9em
  font-weight 100






