doctype html
html(lang="en")
	head
		title Printiculo
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css")
	body
		.container
			h1 Printiculo
			block content