.container
  h1 Регистрация станции
  .form(role="form")
    .form-group
      input.title-input.form-control(type="text" placeholder="Название")

    .form-group
      input.subtitle-input.form-control(type="text" placeholder="Подзаголовок")

    .row
      .col-md-4.col-md-offset-4
        .register-button.btn.btn-primary.btn-lg.btn-block.save-button Зарегистрировать

